
/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 86%;
	  height:40%;
    max-width: 900px;
    margin:0 auto;
	margin-top:-90px;
}

.accordion-area li{
    margin: 50px 0;
	height:60%;
}

.accordion-area section {
	border: 1px solid #444;
	  border-radius: 30px;
	
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
	height:40%;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #444;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/

    padding: 10%;
	
}

.box p {
    font-size:14px;
	margin:auto;
}

.box img {
   
	margin:auto;
	width:100%;
}


.text{
	width:80%;
	margin:auto;
	font-size:12px;
	height:135px;
}


h2 {
  position: relative;
  display: inline-block;
  padding: 0 53px;
	font-size:12px;
	margin-top:40px;
}

h2:before, h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h2:before {
  left:0;
}
h2:after {
  right: 0;
}


@media screen and (min-width:1024px) {
	
/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    width: 90%;
	 display: flex;
	
  /* 中央寄せ */
	
}

.accordion-area li{
	height:60%;
	 box-sizing: border-box;
  padding: 40px 20px;  
	width:40%;
}

.accordion-area section {
	border: 1px solid #444;
	  border-radius: 30px;

}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 70px;
    transition: all .5s ease;
	height:40%;
	left:-11px;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #444;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    padding: 10%;
	
}

.box p {
    font-size:14px;
	margin:auto;
	
}
.box img {
   
	margin:auto;
	width:100%;
}


.text{
	width:90%;
	margin:auto;
	font-size:12px;
}

	 }

