@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
.TextTyping {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  letter-spacing: .5e
    word-break : break-all;
	margin-top: 40px;
}

.TextTyping {
  text-align: center;
}

/*========= タイピング ===============*/

.TextTyping p {
  display: none;
	margin-top: 40px;
}


/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/*==================================================
　印象編　8-16 テキストが滑らかに出現
===================================*/


span.smoothText {

  overflow: hidden;

  display: block;
}


span.smoothTextTrigger{
	
  transition: .8s ease-in-out;

  transform: translate3d(0,100%,0) skewY(12deg);

  transform-origin: left;
	display: block;

}


span.smoothTextTrigger.smoothTextAppear{
    
  
  transform: translate3d(0,0,0) skewY(0);
}



@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
.TextTyping {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  letter-spacing: .5e
    word-break : break-all;
}

.TextTyping {
  text-align: center;
	margin-top: 40px;
}

/*========= タイピング ===============*/

.TextTyping p {
  display: none;
}


/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/*==================================================
　印象編　8-16 テキストが滑らかに出現
===================================*/


span.smoothText {

  overflow: hidden;

  display: block;
}


span.smoothTextTrigger{
	
  transition: .8s ease-in-out;

  transform: translate3d(0,100%,0) skewY(12deg);

  transform-origin: left;
	display: block;

}


span.smoothTextTrigger.smoothTextAppear{
    
  
  transform: translate3d(0,0,0) skewY(0);
}






/*==================================================
　印象編　9-4-1　SVG アニメーション
===================================*/

.service-img svg{
	width:312%;/*SVGのサイズ*/
}



*{box-sizing: border-box;}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #000;
	text-decoration: none;
    outline: none;
}



/* area */

.fixed{
    z-index: 1;
    width:100%;
    max-width:100%;
	
	 justify-content: space-around;
    padding:0 1vw;
	animation: bgchange 40s ease infinite;
}

@media screen and (max-width:768px) {
  #service.fixed,
  #about.fixed{
      height: auto;
    }
}

@media screen and (max-width:540px) {
.fixed{
    padding:0 60px;
    }
    
}


/* service */

#service{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	  flex-wrap:wrap;
	
}

_:-ms-lang(x)::-ms-backdrop, #service{/*IE11用ハック*/
    display: block;
}

#service .service-area {
    display:flex;
  justify-content: space-around;
   flex-wrap:wrap;
	 margin: 0 0 0 100px;
	margin-right: 15px;
}




#service .service-area inner{
    width: 80%;
	
}

#service .service-area .service-img{
     width:200%;
margin:-55px 14.5% 20px -49.5%;
	display: flex;
 
	flex-direction: row;
   
	flex-wrap: wrap;
    
	justify-content: center;
}

#service h3{
    font-size: 20px;
    font-weight: normal;
	
}

#service .caption{
    font-weight: bold;
    margin: 0 0 3vh 0;
	
}   

.smoothText{
  position: relative;
  text-decoration: none;/*デフォルトで下線を非表示*/
}

/** 下線を左から引く **/
.smoothText:after{
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1.5px; /*下線の太さ*/
  background-color: #0000ee; /*下線の色*/
  transition: .3s; /*アニメーション速度*/
}
.smoothText:hover:after {
  width:100%;
}

	
#service .service-area .service-img{
     width:150%;
    margin: 0 auto 2vh auto;
	margin:-55px 14.5% 20px -21.5%;
}
	
}

@media screen and (max-width:1280px) {

#service .service-area {
    display:flex;
  justify-content: space-around;
   flex-wrap:wrap;
	 margin: 0 0 0 90px;
	margin-right: 30px
}

	
#service .service-area .service-img{
     width:150%;
    margin: 0 auto 2vh auto;
	margin:-55px 14.5% 20px -21.5%;
}
	
}


@media screen and (max-width:1024px) {

#service .service-area {
    display:flex;
  justify-content: space-around;
   flex-wrap:wrap;
	 margin: 0 0 0 50px;
}

	

#service .service-area .service-img{
     width:130%;
    margin: 0 auto 2vh auto;
	margin:-55px 14.5% 20px -21.5%;
}
	
}


@media screen and (max-width:820px) {
	
#service .service-area {
    display:flex;
  justify-content: space-around;
   flex-wrap:wrap;
	 margin: 0 0 0 20px;
	
}


	

	
}



@media screen and (max-width:912px) {


		
#service .service-area {
    display:flex;
  justify-content: space-around;
   flex-wrap:wrap;
	 margin: 0 0 0 20px;
	
}

#service .service-area .service-img{
     width:120%;
	margin:-52px 14.2% -0px -9%;
}

#service .service-area section{
    width: 1\80%;
    margin: 0 0 5vh 0;
	
}



	
}
@media screen and (max-width:768px) {
#service{
    padding:0 0 18vh 0; 
	margin-bottom: -260px;
}


#service .service-area {
  justify-content: space-around;
    margin: 0 0 0 0px;
	
}


#service .service-area .service-img{
     width:140%;
    margin: 0 auto 2vh auto;
	
}
	
}

@media screen and (max-width:800px) {


#service{
    padding:0 0 18vh 0; 
	 display:flex;
	margin-top: ;
}

	

#service .service-area{
    justify-content: space-around;
	 display:flex;
	
}

#service .service-area section{
    width: 1\80%;
    margin: 0 0 5vh 0;
	margin-top: -0px;
}



#service .service-area .service-img{
     width:55%;
    margin: 0 auto 2vh auto;
	 display:flex;
	
}

	
}


@media screen and (max-width:500px) {


.fixed{
    z-index: 1;
    width:109%;
    max-width:100%;
	margin-top: -10px;
	margin-bottom: -100px;
	 justify-content: space-around;
    padding:0 7vw;
	animation: bgchange 40s ease infinite;
}

	
 #service .service-area{
    display: block;
	  margin: 0 0 0 0px;
	 margin-bottom: 60px;
}

#service .service-area section{
    width: 100%;
	 margin: 0 0 0 0px;
	
} 

#service .service-area .service-img{
     width:35%;
    margin: 0 auto 2vh auto;
	margin-top: -120px;
}


#service h3{
    font-size: ;
    font-weight: normal;
}
	
}



@media screen and (max-width:300px) {

 #service .service-area{
    display: block;
	  margin: 0 0 0 0px;
	 margin-top: -110px;
	 margin-bottom: 30px;
}

#service .service-area section{
    width: 100%;
	 margin: 0 0 0 0px;
	margin-top: 0px;
} 

#service .service-area .service-img{
     width:45%;
    margin: 0 auto 2vh auto; 
	
}


#service h3{
    font-size: ;
    font-weight: normal;
}
	
}


/* footer */

#footer small{
    position: fixed;
    display: block;
    left:0;
    top:50%;
    transform: rotate(-90deg);
    text-transform: uppercase;
    z-index: 2;
    line-height: 1;
    letter-spacing: 0.1em;
}

#footer p{
    position: fixed;
    display: block;
    right:0;
    top:50%;
    transform: rotate(90deg);
    text-transform: uppercase;
    z-index: 2;
    line-height: 1;
    letter-spacing: 0.1em;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: #fff;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;

}

input {
  line-height: normal;
}


#container {
  border: solid 3px #474544
  position: relat
    height: max-conte
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type='text'], [type='email'], select, textarea {

}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder { 
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}
