
body {
 
  background-color: #9b7ab5;
	
}

.skill::before {
	z-index: 4;
	width: 15%;
	background-color: #9b7ab5;
}
.skill::after {

	width: 100%;
	background: repeating-linear-gradient(45deg, #fff, #fff 2px, #9b7ab5 2px, #9b7ab5 4px);
}
