/*-------------------------------
               BASE
--------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: white;
}

/*-------------------------------
         LAYOUT MOBILE
--------------------------------*/





header {
  position: relative;
  height: 4rem;
  width: 100%;
  background-color: #404855;
  color: white;
}
header h1 {
  position: absolute;
  top: 1.9rem;
  left: 2rem;
  font-size: 1.2rem;
}

#button {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}
#button a {
  color:#FFF;
}
#button img {
  cursor: pointer;
  width: 1.8rem;
}

.logo img {
   margin: -25px -87px -37px -40px;
  text-align:ceter;
}
#lists {
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 4rem;
  color: #fff;
  background-color: #fff;
  opacity: 0.85;
}
#lists li {
  width: 100%;
  border-bottom: 1px solid #444;
  list-style-type: none;
  font-size: 80%;
}
#lists li:last-child {
  border-bottom: none;
  
}
#lists a {
  display: block;
  font-size: 18px;
  padding: 1.4rem;
  color: #444;
  text-decoration: none;
  text-align: center;
  margin-top: -1px;
}

main {
  margin-bottom: 1px;
  padding: 20px 0 0 0;
  flex-direction: column;
}
article {
  height
  text-align: justify;
  font-size: 0.85rem;
  background-color: #fff;
}

#page {
  display: fex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  
}

#pic {
  width: 10%;
  height: auto;
}

.picbig img {
  width: 50%;
  margin: 20px;

}

aside {
  padding: 2rem
  text-align: center;
}


 #pic {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }


  #pic2 {
    width: 100%;
    margin-left: 0px;
  }

#info  {
   margin-top: 10px;
    font-size: 12px;
    color: #444;
  margin-left: 30px;
}

#info span {
  margin-top: 30px;
}
#info2  {
  color: #696969;
  margin: 40px;
  font-size: 9px;
  text-align: left;
   margin-top: 20px;
}



#info2 span {
  font-size: 13px;
  font-weight: bold;
   margin-top: 10px;
}


#info2 p {
  font-size: 11px;
  margin-top: 20px;
  
}


article h1 {
  
}
article p {
   color: #696969;
}

#info2  {
  margin: 0px 20px -0px 50px;
  padding: 2rem; 
  font-size: 0.85rem;
  background-color: #EE;
}


#info2 p  {
  font-size: 12px;
   margin: -0px 15px 0px 0px;
}

aside h1 {
  height: 0px;
  
}
aside p {
   margin: 0px 0px -30px 80px;
   font-size: 9px;
  color: #696969;
  height: 100px;
  
}

footer h6 {
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  background-color: #404855;
}

/*-------------------------------
      LAYOUT PC (OverWrite)
--------------------------------*/

@media only screen and (min-width: 769px) {

  header {
    height: 5em;
    width: 100%;
  }
  header h1 {
    top: 2.4rem;
    left: -20.6rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }



  
  #lists {
    flex-direction: row;
    justify-contet: space-between;
    top: 5rem;
    left: 0;

    background-color: white;
  }
  #lists li {
    flex:1;
    border-bottom: none;
     display: block;
  padding: 12px 12px 12px 12px;
  /*color: #778899;*/
  text-align: center;
   
  }
  #lists li:last-child {
    border-right: none;
  }

  main {
    flex-direction: row;
    margin-top: 3rem;
  }

.picbig img {
  width: 20%;
  margin-top: 50px;
  margin-bottom: 20px;
}
  

  
  #info  {
  margin: 20px 0px -0px 10px;
  font-size: 20px;
   font-weight: bold;
}


  
  #info2  {
  text-align: left; 
  margin: 0px 0px -0px 20px;
  font-size: 15px;
  color: #696969
 
}


  #info2 p  {
  text-justify: inter-ideograph;
  text-align: center; 
  margin-left: 2px;
   
  font-size: 12px; 
  font-weight: bold;
}

  
article {
    
}
  
  article p {
    font-size: 30px;
    text-align: center;
  }

 #info2 span {
text-align: left;
  font-size: 20px;
 font-weight: bold;
  }

  aside p {
    margin: 20px 0px -0px 10px;
    text-align: center;
    margin-right: -0px;
    flex: 2rem 0;
    padding: rem;
    font-size: 16px;
  }

}
