  


/*-------------------------------
               BASE
--------------------------------*/   

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-family: fot-tsukuardgothic-std,sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 16px;
  background-color: white;
}

/*-------------------------------
         LAYOUT MOBILE
--------------------------------*/

#container {
  margin: auto;
  
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #686868
}


#loading_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}


#loading img{
  max-width: 200px;
}


header {
  position: relative;
  height: 4rem;
  background-color: #404855;
  color: white;
}
header h1 {
  position: absolute;
  top: 1.9rem;
  left: 2rem;
  font-size: 1.2rem;
}

#button {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}
#button a {
  color:#FFF;
}
#button img {
  cursor: pointer;
  width: 1.8rem;
}

.logo img {
   margin: -25px -87px -37px -40px;
  text-align:ceter;
}
nav ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 0px px 1px;
   
}

#lists {
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: rem;
  color: #fff;
  background-color: #fff;
  opacity: 0.85;
}
#lists li {
  width: 100%;
  border-bottom: 1px solid #444;
  list-style-type: none;
  font-size: 80%;
}
#lists li:last-child {
  border-bottom: none;
  
}
#lists a {
  display: block;
  font-size: 18px;
  padding: 1.4rem;
  color: #444;
  text-decoration: none;
  text-align: center;
  margin-top: -1px;
}

#container {
 
    position: relative;
 
    width: 100%;
    margin: auto;
  }

main {
  flex-direction: column;
}
article {
  
  padding: 2rem;
  text-align: justify;
  font-size: 0.85rem;
  background-color: #fff;
}

#gallery {
  width: 100%;
  left: 10% 
  display: flex;
  filter: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box0{
  width:100%;
    
  box-sizing: border-box;
      background-color:#fff;
	  padding:0 20px;
	  text-align:left;
	  overflow: hidden; 
}

.box1{width:90%;
      background-color:#FFF;
      text-align:left; 
      clear:left;
	  overflow: hidden; 
}

.box3{width:100%;
      font-size:18px;
	  line-height:24px;
	  margin-bottom:5px;
	  overflow: hidden;
	  border-bottom: double 3px #bbb;
}


.boxl{

  width:100%;
	
  box-sizing: border-box;
	  
  overflow: hidden;
    
  padding:0px 0px 20px 0px;
}
.boxr {

  width:100%;

  box-sizing: border-box;

  overflow: hidden;

  padding:0;
	
  margin-top: 20px;

}

.image {
  width: 200px;
  heght: 20px;
 margin:0 auto;
  margin-top: 30px;
  background-color: #fff;
}

.thumb {
  width: 200px;
  height: 280px;
}

#page {
   margin-bottom: 5rem;
  display: fex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  
}

#pic {
  width: 10%;
  height: auto;
}

.picbig img {
  width: 50%;
  height: 50%;
  margin: 80px 50px 40px 50px;
}

aside {

  padding: 2rem;
  text-align: center;
  font-size: 0.85rem;
  background-color: #EE;
}


 #pic {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }

h4 {
   font-weight: bold;
}
  #pic2 {
    width: 100%;
    margin-left: 0px;
  }

#info2 {
  margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
}

#info2 p {
  font-size: 13px;
   display: inline-block;
    color: #444;
  text-align: left;
}
#info2 p span {
     text-align: left;
 }

article{
   max-width:900px;
  color: #696969;
  margin-right: 10px;
   margin-left: 14px;
    text-align: left;
  font-size: 1px;
}

#info span{
  font-size: 12px;
  font-weight: bold;
  color: #696969;
  text-align: left;
   margin-left: px;
}


#info4 {
   margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00

}

#info4 p {
 text-align: left;
	display: inline-block;
}


#info4 p span {
     text-align: left;
  color: #444;
   margin-left: px;
  font-size: 11.5px;
   margin-top: 10px;
 }

#info4  {
   margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
}

#info4 h4 {
   text-align: left;
	display: inline-block;
}

#info3   {
max-width: 500px;
  text-align: ;
  margin: 0 auto;
   color: #444;
   margin-right: 135px;
}

#info3 p {
 display: inline-block;
  text-align: left;
}

/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}

#wrapper span {
  max-width: 100%;
  font-weight: bold;
    margin-left:1px;
  font-size: 12px;
  
}

h1 {
  text-align: left;
  color: #696969;
  margin-top: 3rem;
}


article  {
  margin-top: 1rem;
  text-align: left;
   color: #696969
  line-height: 180%;
  font-size: 11px;
}
article span {
    margin-top: rem;
  text-align: left;
    margin-bottom: 2rem;
    color: #444;
  
}


#article p {
  text-align: left;
}
aside h1 {
　margin-rem;
}
aside  {
 max-width: 603px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
}

aside p span {
  color: #444;
}


footer {
  margin-top: 4rem;
  padding: 1.5rem;
  text-align: center;
  background-color: #404855;
  color:white;
}


#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;

  opacity: 0.6;
  border-radius: 50%;
   
    bottom: 20px;
    right: 10px;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  opacity: 0.6;
  border-radius: 50%;
}

  .top {
    width: 35px;
    height: 35px;
  }

.article__portfolio_color1 {
 
  margin-left: 48px;
  
  width: 50px;

  height: 50px;
 
  background-color: #e5037b;
  
  border-radius: 10px;

   margin-top: 30px;
}



.article__portfolio_color2 {  
  
  margin-top: -50px;

  margin-left: 120px;
  
  width: 50px;

  height: 50px;
 
  background-color: #72a8db;
  
  border-radius: 10px;
}

/*-------------------------------
      LAYOUT PC (OverWrite)
--------------------------------*/

@media only screen and (min-width: 769px) {

  header {
    height: 5em;
  }
  header h1 {
    top: 2.4rem;
    left: -20.6rem;
    width: 200%;
    text-align: center;
    font-size: 1.5rem;
  }


  #container {
 
    position: relative;
 
    width: %;
    margin: auto;
  }

  
  #lists {
    flex-direction: row;
    justify-contet: space-between;
    top: 6rem;
    left: 0;

    background-color: white;
  }
  #lists li {
    flex:1;
    border-bottom: none;
     display: block;
  padding: 12px 12px 12px 12px;
  /*color: #778899;*/
  text-align: center;
   
  }
  #lists li:last-child {
    border-right: none;
  }
 
  main {
    height: 950px
    flex-direction: row;
    margin-top: 3rem;
  }
  article {
    flex: 3;
    padding: 3rem;
    font-size: 1rem;
    
  }
  
#gallery {
  margin:auto;
  margin-top: 70px;
  width: 600px;
  outline: none;
　border: none;
  display: flex;
  justify-content: space-around;
}


  .boxl{
	 width:410px;
	 float:left;
}

/* 右側div */
.boxr{
	 width:410px;
	 float:right;
}

  
.image a {
  margin-top: 80px;
  text-align: center;
  heght:px;
}


#info span { 
        width: 100%;
        font-size: 20px;
        font-weight: bold; 
        text-align: left;  
        margin-top: 50px;
  　　　 
       }

  #info2 span {
    width: 100%;
        font-size: 15px;
        font-weight: bold; 
        text-align: left;  
        margin-top: 50px;
  }


  
  h1 {
     text-align: center;
    margin: 30px;
    font-size: 25px;
    margin: 120px 0 0 0;
}

  aside {
    
    text-align: left;
    flex: 1;
    padding: 2rem;
    font-size: 17px;
  }

aside p {
  width: 100%;
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
  }
  
}
  


article  {
  margin-top: 1rem;
  text-align: left;
   color: #696969;
  line-height: 180%;
  font-size: 11px;
}
article span {
    margin-top: rem;
    margin-bottom: 2rem;
    color: #696969
  
}
aside h1 {
　margin-rem;
}
aside p {
  margin-top: 1rem;
  text-align: left;
  color: #696969;
  font-size: 11px;
  font-weight: bold;
   margin-left: 15px;
}

.icon {
  display: flex;
  width: 25px;
  height: 25px;
  margin: auto;
  
}

footer {
  margin-top: 4rem;
  padding: 1.5rem;
  text-align: center;
  background-color: #404855;
  color:white;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;

  opacity: 0.6;
  border-radius: 50%;
   
    bottom: 20px;
    right: 10px;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  opacity: 0.6;
  border-radius: 50%;
}

  .top {
    width: 35px;
    height: 35px;
  }

  
