/*-------------------------------
               BASE
--------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
 font-family: sans-serif;
  font-family: FOT-花風テクノ Std,sans-serif;
font-weight: 700;
  font-size: 16px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

/*-------------------------------
         LAYOUT MOBILE
--------------------------------*/

#container {
  margi
  
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
   background:#999;
}


#loading_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}


#loading img{
  max-width: 200px;
}


#info6 p {
  font-size: 16px;
   display: inline-block;
    color: white;
  text-align: center;
}

.whiskey-loader {
  position: relative;

  &:before,
  &:after {
    animation: cube-float 2s linear infinite;
    background-color: rgba(255,255,255, 0.85);
    border-radius: 2px;
    content: '';
    height: 17px;
    width: 17px;
    position: absolute;
    top: 28px;
    left: 35px;
    will-change: transform;
    z-index: -1;
  }

  &:after {
    animation-name: cube-float--alt;
    animation-duration: 3s;
    top: 34px;
    left: 16px;
    transform: rotate(30deg);
  }
}

@keyframes cube-float {
  0% {
    animation-timing-function: ease-in;
    transform: none;
  }
  
  25% {
    transform: rotate(-5deg) translate3d(-1px, 2px, 0);
  }
  
  50% {
    animation-timing-function: ease-in-out;
    transform: rotate(0deg) translate3d(-1px, 6px, 0);
  }
  
  80% {
    transform: rotate(5deg) translate3d(0, 2px, 0);
  }
  
  100% {
    animation-timing-function: ease-in;
    transform: none;
  }
}

@keyframes cube-float--alt {
  50% {
    animation-timing-function: ease;
    transform: rotate(20deg) translate3d(-2px, -4px, 0);
  }
 
}

header {
  position: relative;
  height: 4rem;
  background-color: #;
  background-color: white;
	z-index:9;
}
header h1 {
  position: absolute;
  top: 1.9rem;
  left: 2rem;
  font-size: 1.2rem;
	  background-color: white;
}



#button {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}
#button a {
  color:#FFF;
}
#button img {
  cursor: pointer;
  width: 1.8rem;
}

.logo img {
	 position: absolute;
	top: -24px;;
    width: 100%;
	margin-left: -124px;
	margin-top:-36px;
	 position: fixed;
}

#TextTyping p{
	font-size:15px;
}

#backTop  {
  max-width: 100%;
  width: 100%;
  height: 50%;

 
  
  text-align: center;
}

#backTop img  {

  width: 100%;
  height: 50%;
  margin: auto;
  display: flex;
  line-height: 200px;

  border-radius: 50%;
  
  text-align: center;
}

nav ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 0px px 1px;
   
}

@media screen and (min-width:540px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 50%;
   margin-left:-76px;
	margin-top:-4px;
	 position: fixed;
	
}
}


@media screen and (max-width:300px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 90%;
   margin-left:-76px;
	margin-top:-4px;
	 position: fixed;
	
}
}




nav ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 0px px 1px;
   
}

#lists {
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: rem;
  color: #fff;
  background-color: #fff;
  opacity: 0.85;
}
#lists li {
  width: 100%;
  border-bottom: 1px solid #444;
  list-style-type: none;
  font-size: 80%;
}
#lists li:last-child {
  border-bottom: none;
  
}
#lists a {
  display: block;
  font-size: 18px;
  padding: 1.4rem;
  color: #444;
  text-decoration: none;
  text-align: center;
  margin-top: -1px;
}

main {
  flex-direction: column;
	
}
article {
  
  padding: 2rem;
  text-align: justify;
  font-size: 0.85rem;
  background-color: #fff;
}


#gallery {
  width: 100%;
  left: 10% 
  display: flex;
  filter: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

#pic {
  width: 10%;
  height: auto;
}




.picbig img {
  width: 30%;
  height: 50%;
  margin: 80px 50px 40px 50px;
  display: flex;
  border-radius: 20px;
}

aside {
  margin: -90px 50px -0px 50px;
  padding: 2rem;
  text-align: center;
  font-size: 0.85rem;
  background-color: #EE;
	margin-top: 20px;
}

 
#pic {
	
	  width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
}

.picbig2 img {
  width: 70%;
  height: 80%;
  margin: 80px 50px 40px 50px;
  display: flex;
  border-radius: 20px;
}


#info p {
    font-size: 12px;
    color: #444;
}

#info2 {
  margin: 16px auto;
	text-align: center;
	display: block;
	border-radius: 20px;
	margin-bottom:120px;
}

#info2 p {
  font-size: 16px;
   display: inline-block;
    color: #444;
  text-align: left;
}
#info2 p span {
     text-align: left;
 }


#info4  {
    margin: 15px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
	color: #444;
    margin-top: 10px;
}

#info4 p {
   text-align: left;
	display: inline-block;
	color: #444;
	font-size: 15.5px;
	 margin-bottom: -40px;
}

#info4 p span {
	color: #444;
	   text-align: left;
  color: #444;
   margin-left: px;
 font-size: 13.5px;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}



.stepbar {
  margin: 0 auto;
  width: 80%;
	margin-top:30px;
	margin-bottom:40px;
}

.stepbar .stepbarwrap {
  margin: 2em 0;
  position: relative;
}

.stepbar .stepbarwrap .steptitle {
  display: inline-flex;
  align-items: center;
}

.stepbar .stepbarwrap .steptitle .stepcircle {
  display: inline-block;
  width: 3em;
  height: 3em;
  content: "";
  border-radius: 50%
  color: #fff;
  text-align: center;
}

.stepbar .stepbarwrap .steptitle .stepcircle span {
  display: inline-block;
  line-height: 1.2em;
  font-size: 0.8em;
  font-weight: bold;
  position: relative;
  top: 0.9em;
}

.stepbar .stepbarwrap .steptitle .title {
  margin: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

.stepbar .stepbarwrap .steptxt {
  padding-left: 3.5em;
}

.stepbar .stepbarwrap .steptxt .txt {
  font-size: 0.9em;
}

.stepbar .stepbarwrap .stepline {
  width: 3px;
  height: calc(100% + 1em);
  position: absolute;
  top: 1em;
  left: 1.5em;
  z-index: -1;
}

.stepbarwrap:last-of-type .stepline:last-of-type {
  display: none;
}

@media screen and (max-width: 960px) {
  .stepbar {
    width: 90%;
  }
}

.back {
  width: 100%;
  margin-bottom: 10px;
}

.picbig2 img {
   width: 50vw;
  border-radius: 20px;
  margin: 0 auto;
}

a.btn_27 {
	display: block;
	text-align: right;
	vertical-align: middle;
	text-decoration: none;
	width:120px;
	margin-left: 9px;
	padding: 1rem 4rem;
	color: #696969;
	font-weight: bold;
	position: relative;
	transition: 0.3s ease-in-out;
}
a.btn_27:hover {
    background: #fff;
    color: #696969;
}


img{
	width:100%;
    vertical-align: bottom;
     border-radius: 20px;
}


section {
  margin:auto;
  	width:150px;
  display: block;
	text-align: center;
}

.btn-horizontal-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 0 8px;
  text-decoration: none;
  color: #444;
  transition: .4s;
  margin: auto;
}

.btn-horizontal-border:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:100%;
  left: 0;
  border-radius: 3px;
  background:#444;
  transition: .2s;
}

.btn-horizontal-border:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  top:0;
  left: 0;
  border-radius: 3px;
  background:#444;
  transition: .2s;
}

.btn-horizontal-border:hover:before {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
}

.btn-horizontal-border:hover:after {
  top: 3px;
}

article h1 {
  margin-top: 3rem;
  text-align: center;
  
}
article p {
    margin-top: 1rem;
    margin-bottom: 2rem;
   color: #696969;
}
aside  {
　margin-bottom: 5rem;
　margin-top: rem;
}
aside p {
  margin-top: rem;
  text-align: left;
  color: #696969;
}


  

.grid {
  display: grid;
  gap: 65px;
  grid-template-columns: repeat(3, 200px);
	margin-bottom:50px;
	margin-top:40px;
}
.item {
  border-radius: 10px;
  background: #e
  padding: 18px;
  text-align: center;
	
}
img {
  width: 109%;
  height: auto;
	margin:auto;
}
p {
  text-align: center;
font-size:15px;
}





@media screen and (max-width: 1100px) {
  

.grid {
  display: grid;
   grid-template-columns: repeat(, 200px);
}
.item {
  background: #
  padding: 15px;
  text-align: center;
	margin:10px;
}
img {
  width: 100%;
}
p {
  text-align: center;
	font-color:#444;
	margin-top:-30px;
}
	
}

@media screen and (max-width: 820px) {
  

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
	margin-top:50px;
}
.item {
  border-radius: 10px;
  background: #
  padding: 18px;
  text-align: center;
	margin:10px;
}
img {
  width: 89%;
  height: 30p;
	margin-top:20px;
}
p {
  text-align: center;
}
	
}


@media screen and (max-width: 500px) {
  

.grid {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.item {
  border-radius: 10px;
  background: #
  padding: 18px;
  text-align: center;
	margin:10px;
}
img {
  width: 89%;
  height: 30p;
	margin-top:20px;
}
p {
  text-align: center;
	font-size:15px;
}
	
}


	
#skill{
  width: 56%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
	}

.skill{
  width: px;
  margin-bottom: 3rem;
	
	
	}
	
.skill img{
   width: 100%;
   border-radius: 50%;
	
	background-color:#fff;
	margin:auto;
	
	}
	
.skill p{
   width: 100%;
   padding-top: 1rem;
   text-align: center;
		color:#000;
	}
	
.skill a{
   text-decoration: none;
	}	


@media screen and (max-width:300px) {
	
	
#skill{
  width: 56%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
	}

.skill{
  width: px;
  margin-bottom: 3rem;
	
	
	}
	
.skill img{
   width: 100%;
   border-radius: 50%;
	border: solid 3px #000;
	
	background-color:#fff;
	margin:auto;
	 box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 13%);
	}
	
.skill p{
   width: 550%;
   text-align: center;
		color:#000;
	}
	
.skill a{
   text-decoration: none;
	}	

}

.balloon-006 {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 300px;
    margin-top: 49px;
    padding: .8em 1.2em;
    border: 3px solid #000000;
    border-radius: 12px;
    background-color: #fff;
    color: #333333;
}

.balloon-006::before,
.balloon-006::after {
    position: absolute;
    top: -15px;
    width: 30px;
    height: 15px;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    content: '';
	
}

.balloon-006::before {
    background-color: #000000;
}

.balloon-006::after {
    top: -11px;
    background-color: #fff;
}

.layout {
  width: 100%;
  height: 800px;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: -5px;
}

footer {
  margin-top: 4rem;
  padding: 1.5rem;
  text-align: center;
  background-color: #4
  color:white;
	margin-bottom:60%;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;

  opacity: 0.6;
  border-radius: 50%;
   
    bottom: 20px;
    right: 10px;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  opacity: 0.6;
  border-radius: 50%;
}


/* 015 */
/* LINE001 */
.button015 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}
.button015 a:before {
    position: absolute;
    bottom: 0px;
    left: 50%;
    content: '';
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,.1);
    transform: translateX(-50%);
}
.button015 a:after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #000;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
}
.button015 a:hover {
    opacity: 0.7;
}
.button015 a:hover:after {
    transform: scale(1, 1);
}


/* footer */

footer {
  padding-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

footer ul {
  display: inline-flex;
}

.icon {
  display: flex;
  width: 25px;
  height: 25px;
  margin: 5px;
}
  .top {
    width: 35px;
    height: 35px;
  }
/*-------------------------------
      LAYOUT PC (OverWrite)
--------------------------------*/

@media only screen and (min-width: 767px) {

  header {
    height: 5em;
  }
  header h1 {
    top: 2.4rem;
    left: -20.6rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  #lists {
    flex-direction: row;
    justify-contet: space-between;
    top: 6rem;
    left: 0;

    background-color: white;
  }
  #lists li {
    flex:1;
    border-bottom: none;
     display: block;
  padding: 12px 12px 12px 12px;
  /*color: #778899;*/
  text-align: center;
   
  }
  #lists li:last-child {
    border-right: none;
  }
 
  main {
   
    flex-direction: row;
    
  }


	

.logo img {
	  position: absolute;
	top: -24px;;
    width: 33%;

	margin-top:-36px;
	 position: fixed;
	
}


@media screen and (max-width:1030px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 39%;

	margin-top:-36px;
	 position: fixed;
	
}
}

	
@media screen and (max-width:1000px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 50%;

	margin-top:-36px;
	 position: fixed;
	
}
}
	
  article {
    flex: 3;
    padding: 3rem;
    font-size: 1rem;
  }
  
#gallery {
  margin:auto;
  margin-top: 40px;
  width: 600px;
  outline: none;
　border: none;
  display: flex;
  justify-content: space-around;
}


.stepbar {
  margin: 0 auto;
  width: 100%;
	margin-top:30px;
}

	
@media screen and (min-width:900px) {
	
.stepbar {
	  margin: 0 auto;
  width: 80%;
	margin-top:30px;
	
}
}
#info2 p {
  font-size: 15px;
   display: inline-block;
    color: #444;
  text-align: left;
	margin:20px;
}
#info2 p span {
     text-align: left;
 }

	
@media screen and (min-width:1000px) {
	
.stepbar {
	  margin:auto;
  width: 50%;
	margin-top:30px;

	border-radius:5%;
	padding: 20px 25px 20px 25px;
}
}
#info2 p {
  font-size: 15px;
   display: inline-block;
    color: #444;
  text-align: left;
	margin:20px;
}
#info2 p span {
     text-align: left;
 }


@media only screen and (min-width: 1208px) {
		
#info2 p {
  font-size: 15px;
   display: inline-block;
    color: #444;
  text-align: left;
	width:80%;
}
#info2 p span {
     text-align: left;
 }
}
	
#info4  {
    margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
	color: #444;
    margin-top: 10px;
}

#info4 p {
   text-align: left;
	display: inline-block;
	color: #444;
	font-size: 16.5px;
	 margin-bottom: -40px;
}

#info4 p span {
	color: #444;
	   text-align: left;
  color: #444;
   margin-left: px;
 font-size: 14.5px;
}





#pic {
  width: 100%;
  height: auto;
}



  h1 {
    margin: 30px;
    font-size: 25px;
    margin: 120px 0 0 0;
     text-align: center;
    flex: 1;
}

	
#skill{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
	}


.skill{
  width: 200px;
	margin-top:30px;
	
	}
	
.skill img{
   width: 100%;
   border-radius: 50%;
	display:flex;

	
	}
	
.skill p{
   width: 100%;
   padding-top: 1rem;
   text-align: center;
	color:#000;
	}
	
.skill a{
   text-decoration: none;
	}	

  
aside  {
    margin: 16px auto;
	text-align:center;
	display: block;
	border: 1px solid #00
	color: #444;
   
}

aside p {
   text-align: left;
	display: inline-block;
	color: #444;
	font-size: 15.5px;


