  


/*-------------------------------
               BASE
--------------------------------*/   

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-family: fot-tsukuardgothic-std,sans-serif;
font-weight: 700;
font-style: normal;
  font-size: 16px;
  background-color: white;
}

/*-------------------------------
         LAYOUT MOBILE
--------------------------------*/

#container {
  margin: auto;
  
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #fff;
}


#loading_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}


#loading img{
  max-width: 200px;
}


header {
    position: relative;
  height: 4rem;
  background-color: #;
  background-color: white;
	z-index:9;
}
header h1 {
 position: absolute;
  top: 1.9rem;
  left: 2rem;
  font-size: 1.2rem;
	  background-color: white;
}

#button {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}
#button a {
  color:#FFF;
}
#button img {
  cursor: pointer;
  width: 1.8rem;
}


.logo img {
	 position: absolute;
	top: -24px;;
    width: 100%;
	margin-left: -124px;
	margin-top:-36px;
	 position: fixed;
}




nav ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 0px px 1px;
   
}

@media screen and (min-width:540px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 50%;
   margin-left:-76px;
	margin-top:-4px;
	 position: fixed;
	
}
}


@media screen and (max-width:300px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 90%;
   margin-left:-76px;
	margin-top:-4px;
	 position: fixed;
	
}
}

nav ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 0px px 1px;
   
}
#lists {
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: rem;
  color: #fff;
  background-color: #fff;
  opacity: 0.85;
}
#lists li {
  width: 100%;
  border-bottom: 1px solid #444;
  list-style-type: none;
  font-size: 80%;
}
#lists li:last-child {
  border-bottom: none;
  
}
#lists a {
  display: block;
  font-size: 18px;
  padding: 1.4rem;
  color: #444;
  text-decoration: none;
  text-align: center;
  margin-top: -1px;
}

#container {
 
    position: relative;
 
    width: 100%;
    margin: auto;
  }

main {
  flex-direction: column;
}
article {
  
  padding: 2rem;
  text-align: justify;
  font-size: 0.85rem;
  background-color: #fff;
}

#gallery {
  width: 100%;
  display: flex;
  filter: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
	width:15%;
	margin-top:30px;
}

.thumb {
  width: 200px;
  height: 280px;
}

#page {
   margin-bottom: 5rem;
  display: fex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  
}

#pic {
  width: 10%;
  height: auto;
}

.picbig img {
  width: 50%;
  height: 50%;
  margin: 80px 50px 40px 50px;
	 border-radius: 5%;
}
#skill{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;

	}

.skill{
  width:100%;
  margin-bottom: 3rem;
		margin-top:40px;
	
	}
	
.skill img{
   width: 60%;
   border-radius: 50%;
	border: solid 3px #000;
	margin-top:0px;
	background-color:#fff;
	margin:auto;
	 box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 13%);
	}
	
.skill p{
   width: 100%;
   text-align: center;
		color:#000;
	margin-left:-26px;
	}
	
.skill a{
   text-decoration: none;
	}	




@media screen and (max-width:500px) {
	
	
#skill{
  width: 100%;
 display:flex;
	 flex-wrap: wrap;
	}

.skill{
  width: 120px;
  margin-bottom: 3rem;
	
	
	}
	
.skill img{
   width: 80%;
   border-radius: 50%;
	border: solid 3px #000;
	
	background-color:#fff;
	margin:auto;
	 box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 13%);
	}
	
.skill p{
   width: 100%;
   text-align: center;
		color:#000;
	margin-left:-20px;
	}
	
.skill a{
   text-decoration: none;
	}	

}


aside {

  padding: 2rem;
  text-align: center;
  font-size: 0.85rem;
  background-color: #EE;
}


 #pic {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }

h4 {
   font-weight: bold;
}
  #pic2 {
    width: 100%;
    margin-left: 0px;
  }

#info2 {
  margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
}

#info2 p {
  font-size: 13px;
   display: inline-block;
    color: #444;
  text-align: left;
}
#info2 p span {
     text-align: left;
 }

article{
   max-width:900px;
  color: #696969;
  margin-right: auto;
   margin-left: auto;
    text-align: left;
  font-size: 1px;
}

#info {
  font-size: 12px;
  font-weight: bold
   margin:auto;
}

#info span {
  font-size: 12px;
  font-weight: bold;
  color: #696969;
   margin:auto;
}




#info4 {
   margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00

}

#info4 p {
 text-align: left;
	display: inline-block;
}


#info4 p span {
     text-align: left;
  color: #444;
   margin-left: px;
  font-size: 11.5px;
   margin-top: 10px;
 }

#info4  {
   margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
}

#info4 h4 {
   text-align: left;
	display: inline-block;
}

#info3   {
max-width: 100%;
  text-align: ;
  margin: 0 auto;
   color: #444;
   margin-right: 134px;
}

#info3 p {
 display: inline-block;
  text-align: left;
	width:100%;
}

/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
  transition: 0.8s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}
.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}

#wrapper span {
  max-width: 100%;
  font-weight: bold;
    margin-left:1px;
  font-size: 12px;
  
}

h1 {
  text-align: left;
  color: #696969;
  margin-top: 3rem;
}


article  {
  margin-top: 1rem;
  text-align: left;
   color: #696969
  line-height: 180%;
  font-size: 11px;
}
article span {
    margin-top: rem;
  text-align: left;
    margin-bottom: 2rem;
    color: #444;
  
}


#article p {
  text-align: left;
}
aside h1 {
　margin-rem;
}
aside  {
 max-width: 603px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 30px;
}

aside p span {
  color: #444;
	font-size:12px;
}


footer {
  margin-top: 4rem;
  padding: 1.5rem;
  text-align: center;

  color:white;
}


#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;

  opacity: 0.6;
  border-radius: 50%;
   
    bottom: 20px;
    right: 10px;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  opacity: 0.6;
  border-radius: 50%;
}

  .top {
    width: 35px;
    height: 35px;
  }


.article__color-all {
 
  margin-left: -120px;
  
  width: 50px;

  height: 50px;
 

  
  border-radius: 10px;

   margin-top: 30px;
}

.article__portfolio_color1 {
 
  
  
  width: 50px;

  height: 50px;
 
  background-color: #e5037b;
  
  border-radius: 10px;

   margin-top: 30px;
}



.article__portfolio_color2 {  
  
  
   margin-left: -90px;
  

  
  width: 50px;

  height: 50px;
 
  background-color: #72a8db;
  
  border-radius: 10px;
}

/*-------------------------------
      LAYOUT PC (OverWrite)
--------------------------------*/

@media only screen and (min-width: 768px) {

  header {
    height: 5em;
  }
  header h1 {
    top: 2.4rem;
    left: -20.6rem;
    width: 200%;
    text-align: center;
    font-size: 1.5rem;
  }


  #container {
 
    position: relative;
 

    margin: auto;
  }

  
  #lists {
    flex-direction: row;
    justify-contet: space-between;
    top: 6rem;
    left: 0;

    background-color: white;
  }
  #lists li {
    flex:1;
    border-bottom: none;
     display: block;
  padding: 12px 12px 12px 12px;
  /*color: #778899;*/
  text-align: center;
   
  }
  #lists li:last-child {
    border-right: none;
  }
 
  main {
    height: 950px
    flex-direction: row;
    margin-top: 3rem;
  }
  article {
    flex: 3;
    padding: 3rem;
    font-size: 1rem;
    
  }
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 33%;

	margin-top:-36px;
	 position: fixed;
	
}


@media screen and (max-width:1030px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 39%;

	margin-top:-36px;
	 position: fixed;
	
}
}

	
@media screen and (max-width:1000px) {
	
.logo img {
	  position: absolute;
	top: -24px;;
    width: 50%;

	margin-top:-36px;
	 position: fixed;
	
}
}
	
  
#gallery {
  margin:auto;
  margin-top: 70px;
  width: 600px;
  outline: none;
　border: none;
  display: flex;
  justify-content: space-around;
}



.picbig img {
  width: 20%;
  height: 50%;
  margin: 80px 50px 40px 50px;
	 border-radius: 5%;
}


		
#skill{
  width: 90%;
  position: relative;
  margin: auto;
	}


.skill{
  width: 100px;
	margin-top:30px;
	
	}
	
.skill img{
   width: 60%;
   border-radius: 50%;
	
	}
	
.skill p{
   width: 100%;
   padding-top: 1rem;
   text-align: center;
	color:#000;
	}
	
.skill a{
   text-decoration: none;
	}	

@media screen and (min-width:900px) {
	
		
#skill{
  width: 80%;
  position: relative;
  margin: auto;
	}


.skill{
  width: 100px;
	margin-top:30px;
	
	}
	
.skill img{
   width: 60%;
   border-radius: 50%;
	
	}
	
.skill p{
   width: 100%;
   padding-top: 1rem;
   text-align: center;
	color:#000;
	}
	
.skill a{
   text-decoration: none;
	}	
}

@media screen and (max-width:1024px) {
	
		
#skill{
  width: 70%;
  position: relative;
  margin: auto;
	}


.skill{
  width: 100px;
	margin-top:30px;
	
	}
	
.skill img{
   width: 80%;
   border-radius: 50%;
	
	}
	
.skill p{
   width: 100%;
   padding-top: 1rem;
   text-align: center;
	color:#000;
	}
	
.skill a{
   text-decoration: none;
	}	
}

.gaiyou{
	width:60%;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
	margin:0 auto;
	text-align:left;
	margin-top:-50px;
}
	.gaiyou p{
		margin-top: 60px;
		line-height:1.8;
		text-align:justify;
		max-width: 700px;
	}

.gaiyou h1{
	margin-top: -60px;
				 }
	
	.gaiyou h2{
		margin-top: 60px;
		font-size:25px;
	}

.gaiyou{
	display:inline-block;
	width:33%;
}
	.gaiyou h1{
		font-size:33px;
	}
	.gaiyou h2{
		font-size:20px;
		margin-top: 30px;
	}
	.gaiyou{
		margin-top: 30px;}


.gaiyou2{
	width:60%;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:center;
	margin:0 auto;
	text-align:left;
	margin-top:-50px;
}
	.gaiyou2 p{
		margin-top: 60px;
		line-height:1.8;
		text-align:justify;
		max-width: 700px;
	}

.gaiyou2 h1{
	margin-top: -40px;
				 }
	
	.gaiyou2 h2{
		margin-top: 60px;
		font-size:25px;
	}

.gaiyou2{
	display:inline-block;
	width:33%;
}
	.gaiyou2 h1{
		font-size:33px;
	}
	.gaiyou2 h2{
		font-size:20px;
		margin-top: 30px;
	}
	.gaiyou2{
		margin-top: 30px;}



  #info2 {
	 
    letter-spacing:20%;
	text-align: center;
	display: block;
	border: 1px solid #000
	border-radius: 20px;
	margin-bottom:120px;
}

#info2 p {
	width:600px;
  font-size: 17px;
   display: inline-block;
    color: #444;
  text-align: left;
	line-height:30px;
}
#info2 p span {
     text-align: left;
 }



#info3   {

  text-align: ;
  margin: 0 auto;
   color: #444;
   margin-left: 160px;
}

#info3 p {
 display: inline-block;
  text-align: left;
	font-size:15px;
}


	
#info4 {
	text-align: center;
	display: block;
	border: 1px solid #00
   width:100px;
	margin-top:-70px;
}

#info4 p {
 text-align: left;
	display: inline-block;
	  width:600px;
	font-size:20px;
}


#info4 p span {
     text-align: left;
  color: #444;
   margin-left: px;
  font-size: 17px;
   margin-top: 10px;
 }



#info4 h4 {
   text-align: left;
	display: inline-block;
}


	
#info5 {
   margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
   width:100px;
}

#info5 p {
 text-align: left;
	display: inline-block;
	  width:609px;
	line-height:30px;
}


#info5 p span {
     text-align: left;
  color: #444;
   margin-left: px;
  font-size: 15px;
   margin-top: 10px;
 }

#info5 {
   margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #00
}

#info5 h2 {
   text-align: left;
 width:130px;
}



  h1 {
     text-align: center;
    margin: 30px;
    font-size: 25px;
    margin: 120px 0 0 0;
}

  aside {
    
    text-align: left;
    flex: 1;
    padding: 2rem;
    font-size: 13px;
  }

aside p {
  width: 100%;
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
  }
  
}
  
	


article  {
  margin-top: 1rem;
  text-align: left;
   color: #696969;
  line-height: 180%;
  font-size: 11px;
}
article span {
    margin-top: rem;
    margin-bottom: 2rem;
    color: #696969
  
}
aside h1 {
　margin-rem;
}
aside p {
  margin-top: 1rem;
  text-align: left;
  color: #696969;
  font-size: 15px;
  font-weight: bold;
   margin-left: 1px;
}


.icon {
  display: flex;
  width: 25px;
  height: 25px;
  margin: auto;
  
}

footer {
  margin-top: 4rem;
  padding: 1.5rem;
  text-align: center;
 
  color:white;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;

  opacity: 0.6;
  border-radius: 50%;
   
    bottom: 20px;
    right: 10px;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: -50px;
  opacity: 0.6;
  border-radius: 50%;
}

  .top {
    width: 35px;
    height: 35px;
  }

  
